# Node
node_modules/
npm-debug.log*

# Laravel
/vendor/
.env
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# React
dist/

# OS
.DS_Store
Thumbs.db
